# LED
rpi_ws281x==5.0.0
adafruit-circuitpython-neopixel
adafruit-blinka

# Audio
sounddevice
librosa
pyaudio
aubio

# Camera
scikit-learn
opencv-python
pupil-apriltags

# Misc
scipy
matplotlib
numpy
paho-mqtt
pickle
threading
zmq
